<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="styleguide.css" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="screen">
            <div class="div">
                <div class="overlap">
                    <img class="facebook" src="img/facebook.svg" />
                    <img class="twitter" src="img/twitter.svg" />
                    <img class="linkedin" src="img/linkedin.svg" />
                </div>
                <div class="frame">
                    <div class="text-wrapper">اكتب نص البحث هنا</div>
                    <img class="search" src="img/search.svg" />
                </div>
                <img class="line" src="img/line-1.svg" />
                <div class="overlap-group">
                    <div class="navbar-wrapper">
                        <div class="navbar">
                            <div class="text-wrapper-2">مجالتنا</div>
                            <div class="text-wrapper-3">مشاريعنا</div>
                            <div class="text-wrapper-4">اخبارنا</div>
                            <div class="text-wrapper-5">الرئيسية</div>
                            <div class="text-wrapper-6">تواصل معنا</div>
                            <div class="overlap-group-wrapper">
                                <div class="overlap-group-2">
                                    <div class="text-wrapper-7">الحوكمة</div>
                                    <img class="chevron-down" src="img/chevron-down.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="frame-2">
                        <div class="text-wrapper-8">عن الجمعية</div>
                        <img class="img" src="img/chevron-down.svg" />
                    </div>
                </div>
                <div class="overlap-2">
                    <div class="overlap-3">
                        <div class="subscribe-section">
                            <div class="overlap-4">
                                <div class="group">
                                    <div class="text-wrapper-9">+</div>
                                    <div class="text-wrapper-10">+</div>
                                    <div class="text-wrapper-11">+</div>
                                    <div class="text-wrapper-12">+</div>
                                    <div class="text-wrapper-13">+</div>
                                    <div class="text-wrapper-14">+</div>
                                    <div class="text-wrapper-15">+</div>
                                    <div class="text-wrapper-16">+</div>
                                    <div class="text-wrapper-17">+</div>
                                    <div class="text-wrapper-18">+</div>
                                    <div class="text-wrapper-19">+</div>
                                    <div class="text-wrapper-20">+</div>
                                    <div class="text-wrapper-21">+</div>
                                    <div class="text-wrapper-22">+</div>
                                    <div class="text-wrapper-23">+</div>
                                    <div class="text-wrapper-24">+</div>
                                    <div class="text-wrapper-25">+</div>
                                </div>
                                <div class="group-2">
                                    <div class="rectangle"></div>
                                    <img class="mask-group" src="img/mask-group.png" />
                                    <img class="mask-group-2" src="img/mask-group-2.png" />
                                </div>
                                <div class="div-wrapper">
                                    <div class="overlap-group-3">
                                        <div class="text-wrapper-26">Your email</div>
                                        <div class="group-3">
                                            <img class="vector" src="img/vector-5.svg" />
                                            <div class="rectangle-2"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="overlap-wrapper">
                                    <div class="overlap-5"><div class="text-wrapper-27">Subscribe</div></div>
                                </div>
                                <p class="subscribe-to-get">
                                    Subscribe to get information, latest news and other<br />interesting offers about Jadoo
                                </p>
                                <div class="send-wrapper"><img class="send" src="img/send-2-1.png" /></div>
                            </div>
                        </div>
                        <div class="frame-3">
                            <div class="overlap-6">
                                <img class="shape" src="img/shape.svg" />
                                <div class="group-wrapper">
                                    <div class="group-4">
                                        <div class="group-5">
                                            <div class="overlap-7">
                                                <div class="group-6">
                                                    <div class="group-7"><div class="text-wrapper-28">أهدافنا</div></div>
                                                    <div class="group-8"></div>
                                                </div>
                                                <div class="group-9">
                                                    <div class="group-10">
                                                        <div class="overlap-group-4">
                                                            <div class="overlap-8">
                                                                <div class="group-11"><div class="text-wrapper-29">رسالتنا</div></div>
                                                                <p class="p">
                                                                    جمعية أهلية غير هادفة للربـح متخصصة في مساعدة وتشجيع أصحاب المشاريع من خلال التـدريب
                                                                    والتأهيل وتقـديم استشارات وارشاد وإيجاد الفرص الناجحـة والمساعدة على الحصول على
                                                                    التمويل في مجال روادة الأعمال
                                                                </p>
                                                            </div>
                                                            <div class="ellipse"></div>
                                                        </div>
                                                        <p class="text-wrapper-30">
                                                            هدفنا في جمعية تثمير هو دعــــم رواد الأعمال في كل مراحل رحلتهم، من الفكرة إلى التنفيذ،
                                                            عبر تقديم المـوارد والتدريب والارشاد الازم لخلق جيل جديد من المشاريــــع التي تساهم فـي
                                                            تحقيق تنميـة مستدامة ونمو اقتصادي قوي
                                                        </p>
                                                        <p class="text-wrapper-31">نسعي لتعزيز القيم و الهوية الوطنية</p>
                                                        <img class="ambulance" src="img/ambulance.png" />
                                                    </div>
                                                </div>
                                                <div class="group-12">
                                                    <div class="overlap-7">
                                                        <div class="group-13">
                                                            <div class="overlap-group-5">
                                                                <div class="group-14"><div class="text-wrapper-32">رؤيتنا</div></div>
                                                            </div>
                                                        </div>
                                                        <div class="group-15">
                                                            <div class="ellipse-2"></div>
                                                            <p class="text-wrapper-33">
                                                                نسعى في جمعية تثمير إلى تمكين رواد الاعمال من تحويل أفكارهم إلى مشــاريع ناجحة ومستدامة
                                                                من خلال توفير الدعم الشامل، والارشاد المستمر، وبناء شبكة قوية من العلاقات تساهم في تحقيق
                                                                التنمية الاقتصادية والاجتماعية
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="business-management"></div>
                                <img class="capture" src="img/capture-1.png" />
                                <img class="capture-2" src="img/capture-3.png" />
                                <img class="capture-3" src="img/capture-2.png" />
                            </div>
                        </div>
                    </div>
                    <div class="frame-4">
                        <div class="overlap-9">
                            <div class="frame-5">
                                <div class="text-wrapper-34">مشاريعنا</div>
                                <div class="frame-6">
                                    <div class="frame-7"><div class="text-wrapper-35">عفوا لا يوجد</div></div>
                                    <div class="frame-8"><div class="text-wrapper-35">عفوا لا يوجد</div></div>
                                    <div class="frame-9"><div class="text-wrapper-35">عفوا لا يوجد</div></div>
                                </div>
                            </div>
                            <img class="gallery" src="img/gallery-4.png" />
                            <img class="gallery-2" src="img/gallery-2.png" />
                            <img class="gallery-3" src="img/gallery.png" />
                            <div class="frame-10">
                                <img class="vector-2" src="img/vector-4.svg" />
                                <img class="vector-3" src="img/vector.svg" />
                                <img class="vector-4" src="img/image.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rectangle-3"></div>
                <p class="text-wrapper-36">جمعية تثمير لتنمية رواد الأعمال</p>
                <img class="group-16" src="img/group-1171274834.png" />
                <img class="group-17" src="img/group-1171274835.png" />
                <button class="button">
                    <div class="frame-11"><div class="text-wrapper-37">المزيد من المشاريع</div></div>
                </button>
                <div class="frame-12">
                    <div class="overlap-10">
                        <div class="overlap-11">
                            <img class="shape-2" src="img/shape-2.svg" />
                            <div class="frame-13">
                                <div class="overlap-12">
                                    <div class="text-wrapper-38">أخبارنا</div>
                                    <div class="info-box"></div>
                                    <div class="frame-14">
                                        <div class="overlap-group-6">
                                            <div class="frame-15"><div class="text-wrapper-39">عفوا لا يوجد</div></div>
                                            <img class="gallery-4" src="img/gallery-3.png" />
                                        </div>
                                    </div>
                                    <div class="frame-16">
                                        <div class="overlap-group-6">
                                            <div class="frame-15"><div class="text-wrapper-39">عفوا لا يوجد</div></div>
                                            <img class="gallery-4" src="img/image.png" />
                                        </div>
                                    </div>
                                    <div class="frame-17">
                                        <div class="overlap-group-6">
                                            <div class="frame-15"><div class="text-wrapper-39">عفوا لا يوجد</div></div>
                                            <img class="gallery-4" src="img/gallery-5.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="frame-18">
                                <img class="vector-2" src="img/vector-3.svg" /> <img class="vector-3" src="img/vector-2.svg" />
                            </div>
                        </div>
                        <button class="frame-wrapper">
                            <div class="frame-11"><div class="text-wrapper-37">المزيد من الأخبار</div></div>
                        </button>
                    </div>
                </div>
                <img class="frame-19" src="img/frame-37600.png" />
                <div class="frame-20">
                    <div class="overlap-13">
                        <div class="rectangle-4"></div>
                        <img class="union" src="img/union.svg" />
                        <div class="rectangle-5"></div>
                        <div class="rectangle-6"></div>
                        <div class="frame-21">
                            <div class="text-wrapper-40">الفعاليات</div>
                            <div class="text-wrapper-41">1</div>
                        </div>
                        <div class="text-wrapper-42">1</div>
                        <div class="text-wrapper-43">1</div>
                        <div class="text-wrapper-44">المستفيدين</div>
                        <div class="text-wrapper-45">أعداد المتطوعين</div>
                        <div class="frame-22">
                            <div class="overlap-group-7">
                                <div class="text-wrapper-46">المشاريع</div>
                                <div class="text-wrapper-47">1</div>
                            </div>
                        </div>
                        <img class="group-18" src="img/group-1171274833.png" />
                        <div class="group-19">
                            <div class="overlap-14">
                                <footer class="footer">
                                    <div class="frame-23">
                                        <div class="frame-24">
                                            <div class="frame-25">
                                                <div class="frame-26">
                                                    <div class="text-wrapper-48">050 811 4955</div>
                                                    <div class="text-wrapper-49">ttathmeer@gmail.com</div>
                                                </div>
                                                <img class="frame-27" src="img/frame-37571.svg" />
                                            </div>
                                            <div class="rectangle-wrapper"><div class="rectangle-7"></div></div>
                                            <div class="text-wrapper-50">روابط سريعة</div>
                                            <div class="text-wrapper-51">الرئيسية</div>
                                            <div class="text-wrapper-52">أخبارنا</div>
                                            <div class="text-wrapper-53">مشاريعنا</div>
                                            <div class="text-wrapper-54">خدماتنا</div>
                                        </div>
                                    </div>
                                </footer>
                                <div class="text-wrapper-55">لا يوجد</div>
                                <div class="text-wrapper-56">لا يوجد</div>
                            </div>
                        </div>
                        <img class="group-20" src="img/group-1171274802.png" />
                        <p class="text-wrapper-57">
                            حقوق النشر © 2024 ابتكارات المستقبل التقنية | تم بواسطة ابتكارات المستقبل التقنية
                        </p>
                        <img class="line-2" src="img/line-6.svg" />
                    </div>
                </div>
                <div class="frame-28">
                    <div class="frame-29">
                        <div class="overlap-15">
                            <div class="frame-30">
                                <div class="overlap-group-8">
                                    <div class="element-wrapper"><img class="element" src="img/1.png" /></div>
                                    <img class="capture-4" src="img/capture-6.png" />
                                    <img class="element-2" src="img/1-2.png" />
                                </div>
                            </div>
                            <div class="text-wrapper-58">مجالتنا</div>
                            <p class="text-wrapper-59">نشر ثقافة الابتكار<br />وريادة الاعمال المجتمعية</p>
                            <p class="text-wrapper-60">نشر ثقافة الابتكار<br />وريادة الاعمال المجتمعية</p>
                            <p class="text-wrapper-61">
                                رفع الوعي المجتمعي العام<br />بالقطاع والشركات الاجتماعية<br />خلال السنوات القادمة
                            </p>
                            <div class="uuu"></div>
                            <div class="capture-5"></div>
                        </div>
                    </div>
                </div>
                <img class="photo" src="img/photo-2024-12-23-01-53-36-1.png" />
            </div>
        </div>
    </body>
</html>
